<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="lastname" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha Nacimiento</ion-label>
        <ion-input formControlName="birtdate" type="date" displayFormat="DD/MM/YYYY" presentation="date"
          [(ngModel)]="startDate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fotografia</ion-label>
        <ion-input formControlName="image" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Puesto</ion-label>
        <ion-select formControlName="puesto" aria-placeholder="Puesto" name="puesto">
          <ion-select-option value="developer">Developer</ion-select-option>
          <ion-select-option value="ceo">CEO</ion-select-option>
          <ion-select-option value="director">Director</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input fomrControlName="phone" type="text" name="phone"></ion-input>
      </ion-item>
      <ion-item style="text-align:center">
        <ion-button color="danger" expand="block" class="center-button" fill="clear" type="submit">Registro
        </ion-button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
